.keyboard {
    background-color: rgba(0, 0, 0, 255);
    color: #ffffff;
    font-family: cantarell, sans-serif;
}

.key {
    color: #ffffff;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(0, 0, 0, 255);
    background-gradient-end: rgba(64, 64, 64, 255);
    border-width: 2px;
    border-color: rgba(128, 128, 128, 255);
    border-radius: 3px;
}

.key:active {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(0, 0, 255, 255);
    background-gradient-end: rgba(64, 64, 255, 255);
    border-color: rgba(160, 160, 255, 255);
}
